.conta .seta-direita-1 {
  background: url('images/seta_direita_1.png') 50% / cover no-repeat;
  margin-bottom: 9px;
  width: 30px;
  height: 30px;
  transform:rotate(180deg);
}
.conta .task-master {
  margin: 5px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 26px;
  color: #FFFFFF;
}
.conta .silhueta-negra-de-casa-sem-porta-21 {
  background: 50% / cover no-repeat;
  margin-top: 4px;
  width: 35px;
  height: 35px;
}
.conta .group-57 {
  background: #333333;
  position: relative;
  margin-bottom: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 23px 23px 22px 15px;
  width: 100%;
  box-sizing: border-box;
}
.conta .container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  position: relative;
  margin: 0 0 51px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 24px 9px 10px 9px;
  width: 297px;
  box-sizing: border-box;
  z-index: 2;
}
.conta .default-draw-aface-man-in-color-32 {
  position: relative;
  align-items: center;
  border-radius: 75px;
  background: url('images/default_draw_aface_man_in_color_32.jpeg') 50% / cover no-repeat;
  margin-bottom: 12px;
  width: 128px;
  height: 128px;
  display: flex;
  z-index: 1;
}
.conta .francisco {
  position: relative;
  align-items: center;
  margin: 0 auto;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.conta .cabelereiro {
  position: relative;
  align-items: center;
  margin: 0 auto;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.conta .image-18 {
  position: relative;
  align-content: center;
  background: url('images/image_18.png') 50% / cover no-repeat;
  margin: 0 4px;
  width: 120px;
  height: 14.6px;
}
.conta .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.conta .camera-1 {
  background: url('images/camera_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 50%;
  right: 64px;
  translate: 0 -50%;
  width: 50px;
  height: 50px;
  z-index: 3;
}
.conta .chumba {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 25px 25px 25px 25px;
  position: relative;
  margin: 0 0 51px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 24px 9px 10px 9px;
  width: 297px;
  box-sizing: border-box;
  margin-bottom: 20px;
  z-index: 2;
}
.conta .container-5 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-self: center;
  padding: 24px 1px 17.4px 0;
  width: 30%;
  border-radius: 25px;
  border: solid 1px;
  border-color: grey;
  box-sizing: border-box;
  z-index: 2;
  left: 0px;
  margin-bottom: 10px;
}
.conta .nome-completo {
  position: relative;
  top: -40px;
  background-color: #FFFFFF;
  margin: 3px;
  left: 25px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.conta .francisco-da-cunha-alcebades {
  position: relative;
  top: 0px;
  margin: 0px;
  left: -78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.conta .container-51 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-self: center;
  padding: 24px 1px 17.4px 0;
  width: 30%;
  height: 70px;
  border-radius: 25px;
  border: solid 1px;
  border-color: grey;
  box-sizing: border-box;
  z-index: 2;
  left: 0px;
  margin-bottom: 10px;
}
.conta .email {
  position: relative;
  top: -44px;
  background-color: #FFFFFF;
  margin: -8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.conta .franciscocagmail-com {
  position: relative;
  top: 0px;
  margin: -35px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.conta .container-4 {
  border-radius: 10px;
  border: 2px solid #ffffff;
  position: relative;
  margin: 0 14px 32px 14px;
  display: flex;
  flex-direction: column;
  padding: 8px 0 27px 20px;
  width: calc(100% - 28px);
  box-sizing: border-box;
}
.conta .container-52 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-self: center;
  padding: 24px 1px 17.4px 0;
  width: 30%;
  height: 70px;
  border-radius: 25px;
  border: solid 1px;
  border-color: grey;
  box-sizing: border-box;
  z-index: 2;
  left: 0px;
  margin-bottom: 10px;
}
.conta .container-53 {
  border-radius: 10px;
  border: 2px solid #ffffff;
  position: relative;
  margin: 0 14px 32px 14px;
  display: flex;
  flex-direction: column;
  padding: 8px 0 27px 20px;
  width: calc(100% - 28px);
  box-sizing: border-box;
}
.conta .senha {
  position: relative;
  top: -40px;
  background-color: #FFFFFF;
  margin: -8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.password-container {
  position: relative;
}
.password-input {
  position: relative;
  padding-right: 30px;
  margin: -10px;
  top: -25px;
  font-weight: 400;
  font-size: 20px;
  border: none;
  width: 90%;
}
.show-password {
  position: relative;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.conta .container-54 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-self: center;
  padding: 24px 1px 17.4px 0;
  width: 30%;
  height: 70px;
  border-radius: 25px;
  border: solid 1px;
  border-color: grey;
  box-sizing: border-box;
  z-index: 2;
  left: 0px;
  margin-bottom: 10px;
}
.conta .container-55 {
  border-radius: 10px;
  border: 2px solid #ffffff;
  position: relative;
  margin: 0 14px 32px 14px;
  display: flex;
  flex-direction: column;
  padding: 8px 0 27px 20px;
  width: calc(100% - 28px);
  box-sizing: border-box;
}
.conta .cpf {
  position: relative;
  top: -44px;
  background-color: #FFFFFF;
  margin: -8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.conta .ncpf {
  position: relative;
  top: -8px;
  margin: -20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.conta .container-56 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-self: center;
  padding: 24px 1px 17.4px 0;
  width: 30%;
  height: 70px;
  border-radius: 25px;
  border: solid 1px;
  border-color: grey;
  box-sizing: border-box;
  z-index: 2;
  left: 0px;
  margin-bottom: 10px;
}
.conta .container-57 {
  border-radius: 10px;
  border: 2px solid #ffffff;
  position: relative;
  margin: 0 14px 32px 14px;
  display: flex;
  flex-direction: column;
  padding: 8px 0 27px 20px;
  width: calc(100% - 28px);
  box-sizing: border-box;
}
.conta .telefone {
  position: relative;
  top: -44px;
  background-color: #FFFFFF;
  margin: -8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.conta .ntel {
  position: relative;
  top: -8px;
  margin: -45px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.conta .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.conta .rectangle-13 {
  background: linear-gradient(90deg, rgba(129, 188, 243, 0.5), rgba(1, 92, 174, 0.5), rgba(62, 162, 253, 0.5));
  position: absolute;
  border-radius: 0 0 25px 25px;
  left: 0px;
  top: 84px;
  right: 0px;
  height: 180px;
  width: 100%;
  z-index: 0;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conta {
  width: 100%;
  border: 1px solid #000000;
  background: #ffffff;
  display: flex;
  padding-bottom: 50px;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  height: fit-content;
}
