.notificacoes .seta-direita-1 {
  background: url('images/seta_direita_1.png') 50% / cover no-repeat;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  transform:rotate(180deg);
}
.notificacoes .task-master {
  margin-top: 4px;
  align-self: center;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 26px;
  color: #FFFFFF;
  margin: 0 auto;
}
.notificacoess .group-57 {
  background: #333333;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 25px 15px;
  width: 100%;
  box-sizing: border-box;
}
.notificacoes .aviso {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.notificacoes .categoria {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.notificacoes .notificaes-1 {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.notificacoes .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.notificacoes .notificaes-1 {
  position: absolute;
  left: 21px;
  top: 141px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.notificacoes .central-de-ajuda-fale-conosco {
  position: absolute;
  left: 21px;
  bottom: 194px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 100;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.58);
}
.notificacoes .container-1 {
  background: #333333;
  position: relative;
  align-self: flex-start;
  padding: 35px 21px 0 21px;
  width: 400px;
  height: 538px;
  box-sizing: border-box;
}
.notificacoes {
  border: 1px solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 350px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}