.pgina-inicial .task-master {
  margin: 5px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 26px;
  color: #FFFFFF;
  margin: 0 auto;
 
}
.pgina-inicial .botao-de-menu-de-tres-linhas-horizontais-1 :hover{
  margin-bottom: 2px;
  width: 30px;
  height: 30px;
}
.pgina-inicial .group-57 {
  background: #333333;
  position: relative;
  margin-bottom: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 27px 28px 25px 0;
  box-sizing: border-box;
}
.pgina-inicial .magnifying-glass-search-1 {
  width: 30px;
  height: 30px;
}
.pgina-inicial .login {
  border-radius: 20px;
  border: 2px solid #000000;
  position: relative;
  margin: 0 13px 15px 13px;
  padding: 15px 14px;
  width: calc(100% - 26px);
  height: 60px;
  box-sizing: border-box;
}
.pgina-inicial .image-31 {
  margin-bottom: 14.6px;
  align-self: center;
  width: 250px;
  height: 331.4px;
}
.pgina-inicial .ltimos-servios {
  margin: 0 13px 21px 13px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.pgina-inicial .servios-beleza {
  margin: 0 13px 15px 13px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.pgina-inicial .servios-profissionais {
  margin: 0 13px 15px 13px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.pgina-inicial .servios-domsticos {
  margin: 0 13px 15px 13px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.pgina-inicial .servios-de-sade-ebem-estar {
  margin: 0 13px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.pgina-inicial {
  border: 1px solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 102px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
